section.admin-route {
  position: relative;
  min-height: 100vh;
}

.sidebar {
  max-width: 200px;
}

.open {
  transition: max-width 0.5s ease-out;
}

.closed {
  max-width: 0 !important;
  transition: max-width 0.3s ease-out;
}

.pointer {
  cursor: pointer;
}